<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZc_6BLaKFThkI2b2dVeBp-iBi39dGWEs</string>
	<key>GCM_SENDER_ID</key>
	<string>568727460384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoskadev.caraupgared</string>
	<key>PROJECT_ID</key>
	<string>cara-app-1324d</string>
	<key>STORAGE_BUCKET</key>
	<string>cara-app-1324d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568727460384:ios:96390d02f0decf30fbba45</string>
</dict>
</plist>